body {
  margin: 0;
  background: #222;
  overflow: hidden;
}

#game {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#66aaff, #3377cc);
  position: relative;
  overflow: hidden;
}

#player {
  width: 80px;
  height: 120px;
  background: #ffdd55;
  position: absolute;
  bottom: 20px;
  left: 50px;
  border-radius: 4px;
  background-image: url('player.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#left {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  touch-action: none;
}

#right {
  position: fixed;
  bottom: 20px;
  left: 100px; /* adjust distance from left */
  width: 60px;
  height: 60px;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  touch-action: none;
}

#jump {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  touch-action: none;
}

button:active {
  transform: scale(0.9);
  background: rgba(255, 255, 255, 0.5);
}

